@import '/styles/global.scss';
.inputNumber {
	width: 100%;
	input {
		width: 100%;
		height: 54px;
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;
		color: $color999999;
		outline: none;
		border: none;
		@include to_SmPhone {
			height: 44px;
			font-size: 12px;
		}
	}
}
